.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}

.comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    margin-bottom: 12px;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.content {
    flex-grow: 1;

    strong {
        font-size: 14px;
        color: #333;
    }

    p {
        margin: 4px 0;
        font-size: 14px;
    }
}

.time {
    font-size: 12px;
    color: gray;
    margin-right: 8px;
}

.likes {
    font-size: 14px;
    color: red;
}

.reply-btn {
    font-size: 12px;
    color: #0d6efd;
    cursor: pointer;
    margin-left: 8px;
    &:hover {
        text-decoration: underline;
    }
}

.comment-input-reply {
    width: calc(100% - var(--width-collumn-left));
    margin-left: var(--width-collumn-left);
}

.replies {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--width-collumn-left));
    margin-left: var(--width-collumn-left);
    margin-top: 8px;
    border-left: 2px solid #eee;
    padding-left: 8px;

    .comment {
        margin-bottom: 8px;
    }

    .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

.show-more {
    margin-left: var(--width-collumn-left);
    width: max-content;
    padding: unset;
    min-width: unset;
    font-weight: unset;
}
