.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background: none;
    cursor: pointer;
    color: #161823;

    + .wrapper {
        margin-top: 10px;
    }
}

.action-icon {
    position: absolute;
    bottom: -6px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #fe2c55;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &.active {
        border: 1px solid #1618231f;
        background-color: #fff;
        color: #fe2c55;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #1618230f;
    margin-top: 8px;
    margin-bottom: 6px;
    transition: 200ms ease-in-out;
    border-radius: 50%;

    &.active {
        color: #fe2c55;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.count {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #161823bf;
    text-align: center;
}
