.upload-preview {
    position: relative;
    width: 280px;
    height: 565px;
}

.phone-background {
    width: 422px;
    height: 851px;
    transform: scale(0.66);
    background-image: url('~/assets/images/apple-iphone-13.png');
    background-size: 100%;
    transform-origin: 0px 0px;
}

.phone-frame {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 812px;
    top: 13px;
    left: 16px;
    color: #fff;
    background: #5e6d7a8a;
    transform: scale(0.66);
    border-radius: 45px;
    overflow: hidden;
    transform-origin: 0px 0px;

    // mask-image: linear-gradient(black, black), radial-gradient(circle 30px at 50% 0px, black 29px, transparent 30px);
    // -webkit-mask-image: linear-gradient(black, black),
    //     radial-gradient(circle 30px at 50% 0px, black 29px, transparent 30px);
    // -webkit-mask-composite: destination-out;
    // mask-composite: exclude;

    // mask-image: linear-gradient(black, black),
    //     radial-gradient(ellipse 75px 12.5px at 50% 0px, black 24px, transparent 25px);
    // -webkit-mask-image: linear-gradient(black, black),
    //     radial-gradient(ellipse 75px 12.5px at 50% 0px, black 24px, transparent 25px);
    // -webkit-mask-composite: destination-out;
    // mask-composite: exclude;

    // mask-image: linear-gradient(black, black),
    //     linear-gradient(to top, transparent 96%, transparent 20px, black 20px, black 100%);
    // -webkit-mask-image: linear-gradient(black, black),
    //     linear-gradient(to top, transparent 96%, transparent 20px, black 20px, black 100%);
    // -webkit-mask-composite: destination-out;
    // mask-composite: exclude;

    &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 25px;
        background: black;
        top: 0;
        left: 110px;
        border-radius: 0 0 15px 15px;
        z-index: 10;
    }
}

.phone-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: 14px;

    .icons {
        display: flex;
        gap: 6px;
    }
}

.video-container {
    flex: 1;
    position: relative;

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 16px 10px;
    }

    .video-info {
        flex: 1;

        .username {
            font-weight: bold;
            margin-bottom: 6px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 6px;
            white-space: pre-line;
        }

        .music {
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        // padding-bottom: 50px;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin-bottom: 10px;
        }

        .icon {
            font-size: 20px;
        }

        .music {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #312e2e;
            animation: spin 8s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid #312e2e;
            }
        }
    }
}

.progress-bar {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);

    .progress {
        height: 100%;
        background: #fff;
    }
}

.phone-footer {
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;

    .footer-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plus-icon {
        font-size: 24px;
        color: #ff2c55;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
