.wrapper {
    --default-padding-content: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    padding: var(--default-padding-content);
}

.list-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Bắt buộc cuộn từng phần tử */
    scrollbar-width: none; /* Ẩn thanh cuộn */
    scroll-behavior: smooth; /* Làm mượt khi cuộn */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    margin-bottom: 16px;
    scroll-snap-align: start;
    white-space: pre-line;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100%;

    button {
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #0000000d;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: #0000001f;
        }

        &:disabled {
            cursor: not-allowed;
            color: #000;
            opacity: 0.4;
        }
    }
}

.promotion {
    position: fixed;
    right: var(--default-layout-horizontal-spacer);
    bottom: var(--default-layout-horizontal-spacer);
}

.coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: max-content;
    height: 32px;
    padding: 0px 10px;
    color: #161823bf;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #1618231f;
    box-shadow: #0000000f 0px 2px 8px;
    border-radius: 52px;
    cursor: pointer;
}
