.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    padding: 20px;
}

.list-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Bắt buộc cuộn từng phần tử */
    scrollbar-width: none; /* Ẩn thanh cuộn */
    scroll-behavior: smooth; /* Làm mượt khi cuộn */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    margin-bottom: 16px;
    scroll-snap-align: start;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100%;

    button {
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #0000000d;
        border-radius: 50%;
        cursor: pointer;
    }
}
